$containerTransitionTime : 0.3s;
$push_trs_time: 400ms;

$themeWhite: #FFFFFF;
$themeGreen1: #AAD1CF;
$themeGreen2: #325D5B;
$themeGreen3: #407774;
$themeOrange1: #F2B791;
$themeOrange2: #8E5C2F;
$themeGrey1: #A1A1A1;
